@import "tailwindcss";

@theme {
  --font-default: Verdana, Geneva, Tahoma, sans-serif;

  --color-primary-50: #eef0fb;
  --color-primary-100: #dcdff7;
  --color-primary-200: #c0c4f0;
  --color-primary-300: #a4a8e8;
  --color-primary-400: #9298e0;
  --color-primary-500: #7277d1;
  --color-primary-600: #5a5eb6;
  --color-primary-700: #494c93;
  --color-primary-800: #33356c;
  --color-primary-900: #1c1e4a;
  --color-primary-950: #040942;

  --color-secondary-50: #fff6f2;
  --color-secondary-100: #ffe3d3;
  --color-secondary-200: #ffc8aa;
  --color-secondary-300: #ffae88;
  --color-secondary-400: #f99570;
  --color-secondary-500: #f07c58;
  --color-secondary-600: #d46144;
  --color-secondary-700: #a54832;
  --color-secondary-800: #773225;
  --color-secondary-900: #4a1c15;
  --color-secondary-950: #2a0e0a;

  --color-primary: var(--color-primary-300);
  --color-secondary: var(--color-secondary-300);

  @keyframes shrink-width {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes toast {
    0% {
      transform: translateX(100%);
    }
    10% {
      transform: translateX(0);
    }
    90% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  :root {
    @apply font-default text-neutral-900;

    @variant dark {
      --color-primary: var(--color-primary-700);
      --color-secondary: var(--color-secondary-700);

      @apply text-neutral-50;
    }
  }

  h1 {
    @apply text-4xl;
  }
}
