@import "tailwindcss";

@theme {
  --font-default: Verdana, Geneva, Tahoma, sans-serif;

  --color-primary-0: #f6fef9;
  --color-primary-50: #e0fbe9;
  --color-primary-100: #c2f6d3;
  --color-primary-200: #91eeb3;
  --color-primary-300: #5fe393;
  --color-primary-400: #30d772;
  --color-primary-500: #12c65d;
  --color-primary-600: #0ea34c;
  --color-primary-700: #0b823d;
  --color-primary-800: #096430;
  --color-primary-900: #074a25;
  --color-primary-950: #032115;

  --color-secondary-0: #f9f8fe;
  --color-secondary-50: #ebe8fc;
  --color-secondary-100: #d9d3fa;
  --color-secondary-200: #b6aaf6;
  --color-secondary-300: #9280f1;
  --color-secondary-400: #6e56eb;
  --color-secondary-500: #5a40e0;
  --color-secondary-600: #4933b8;
  --color-secondary-700: #3a2890;
  --color-secondary-800: #2c1f6a;
  --color-secondary-900: #1e1545;
  --color-secondary-950: #0e081d;

  --color-primary: var(--color-primary-400);
  --color-secondary: var(--color-secondary-400);
}

@layer base {
  :root {
    @apply font-default text-neutral-900;

    @variant dark {
      --color-primary: var(--color-primary-600);
      --color-secondary: var(--color-secondary-600);

      @apply text-neutral-50;
    }
  }

  input:disabled {
    @apply cursor-not-allowed;
  }

  h1 {
    @apply text-4xl;
  }
}
